mixin box-panel(box)
    .panel
        .panel-heading
            h2 #{box.name}
        .panel-body
            table.table.table-striped.table-condensed
                thead
                    tr
                        th
                        th Small
                        th Medium
                        th Large
                tbody
                    tr.default
                        th Total
                        td #{box.totalSmall}
                        td #{box.totalMedium}
                        td #{box.totalLarge}
                    tr.success
                        th Collected
                        td #{box.collectedSmall}
                        td #{box.collectedMedium}
                        td #{box.collectedLarge}
